<!DOCTYPE html>
<html>
  <head>
    <title>TFT Inventory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
    <div class="main">
      <h1>TFT Inventory</h1>
      <h2>Welcome to the TFT inspired Inventory Application</h2>
    </div>
  </body>
</html>
