<link rel='stylesheet' href='/stylesheets/style.css' />

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/origins">Origins</a></li>
        <li><a href="/rarities">Rarities</a></li>
        <li><a href="/units">Units</a></li>
    </ul>
</nav>