<!DOCTYPE html>
<html>
  <head>
    <title>TFT Inventory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
    <div class="main">
      <h1><%= origin.name %></h1>
      <p><%= origin.description %></p>
    </div>
  </body>
</html>
