<!DOCTYPE html>
<html>
  <head>
    <title>TFT Inventory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
    <h1>Origins</h1>
  </body>
</html>
