<!DOCTYPE html>
<html>
  <head>
    <title>TFT Inventory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
    <div class="main">
      <h1><%= rarity.name %></h1>
      <p><%= rarity.cost %></p>
      <p><a href="<%= rarity.url + '/update' %>">Update Rarity</a></p>
      <p><a href="<%= rarity.url + '/delete' %>">Delete Rarity</a></p>
    </div>
  </body>
</html>
